@page
@using AgentieTurism.Models;
@model AgentieTurism.Pages.Clients.ReservationsModel
@{
    var client = new Client();
    if (Model.Reservations.Any())
    {
        client = Model.Reservations[0].Client;
    }
}
@if (Model.Reservations.Any())
{
    <p>
        Reservations for @client.FirstName @client.LastName
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Reservations[0].Client)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservations[0].Offer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservations[0].NumberOfUnits)
                </th>
                <th>Price</th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservations[0].DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservations[0].DateModify)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reservations)
            {
                <tr>
                    <td>
                        @(item.Client.FirstName+" "+item.Client.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Offer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfUnits)
                    </td>
                    <td>
                        @(item.NumberOfUnits*item.Offer.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateModify)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No reservations</p>
}
<div>
    <a asp-page="./Index">Back to List</a>
</div>